// Colors
$nav-color: #595959;
$primary-color: #808F85;
$secondary-color: #91C499;
$accent-color: #CFD11A;
$tertiary-color: #54428E; // ultra violet
$purple-color: #54428E;


// $tertiary-color: #92B6B1; // cambridge blue
// $tertiary-color: #C7EAE4; // mint green
// $tertiary-color: #857C8D; // taupe grey
// $tertiary-color: #94BFBE; // tiffany blue
// $tertiary-color: #F2E9DC; // linen
