@import"./styles/variables";
@import"./styles/mixins";

.navigation {
    background-color: $nav-color;
}

.navigation-link {
    color: $accent-color;
    font-weight: 900;
    text-decoration: none;
}

.header-navigation-link {
    color: white;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: $accent-color !important;
    color: black !important;
}

.dropdown-item:active, .dropdown-item.active  {
    background-color: white !important;
    color: black !important;
}

.header {
    color: $primary-color;
}

.header-center {
    text-align: center;
    color: $primary-color;
}

.subheader {
    text-align: center;
    color: $secondary-color;
}

.accent-text {
    color: $accent-color;
    text-decoration: none;
}

p {
    color: $primary-color;
}

// Buttons
.btn-submit {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    color: $nav-color !important;
}
