@import"./styles/variables";
@import"./styles/mixins";

.navigation {
    background-color: $nav-color;
}

.navigation-link {
    color: $accent-color;
    font-weight: 900;
    text-decoration: none;
}


.navigation-date-link {
    color: white;
    text-decoration: none;
}

.navigation-selected-date-link {
    color: black;
    text-decoration: none;
}

.header-navigation-link {
    color: white;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: $accent-color !important;
    color: black !important;
}

.dropdown-item:active, .dropdown-item.active  {
    background-color: white !important;
    color: black !important;
}

.header {
    color: $primary-color;
}

.header-center {
    text-align: center;
    color: $primary-color;
}

.subheader {
    text-align: center;
    color: $secondary-color;
}

.accent-text {
    color: $accent-color;
    text-decoration: none;
}

p {
    color: $primary-color;
}

// Buttons
.btn-submit {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    color: $nav-color !important;
}

// Cards
.card-title {
    background-color: $secondary-color;
    padding: 4px;
    text-align: center;
}

// Date Navigation
.date-nav-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.date-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.month-nav {
    text-align: center;
}

.date-nav-div {
    margin: 0.75vh;
    padding: .75rem 1rem;
    width: auto;
    border-radius: 10rem;
    text-align: center;
    background-color: $primary-color;
    color: white ;
    text-decoration: none !important;
    font-size: 1rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        color: white !important;
        text-decoration: none !important;
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($primary-color, 15%);
        color: white !important;
        text-decoration: none !important;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.selected-date {
    background-color: $accent-color !important;
    color: black !important;

    &:after {
        background-color: $accent-color !important;
    }

    &:before {
        background-color: darken($accent-color, 15%) !important;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}